/*---INPUT---*/
/*
.group {
	position:relative;
	margin-top:45px;
	margin-bottom:45px;
}

input {
	font-size:18px;
	padding:10px 10px 10px 5px;
	display:block;
	width:100%;
	border:none;
	border-bottom:1px solid #757575;
	background-color: transparent;
}

input:focus {
	outline:none;
}

label {
	color:#999;
	font-size:18px;
	font-weight:normal;
	position:absolute;
	pointer-events:none;
	left:5px;
	top:10px;
	transition:0.2s ease all;
}

input:focus ~ label, input:valid ~ label {
	top:-20px;
	font-size:14px;
	color:#5264AE;
}

.bar {
	position:relative;
	display:block;
	width:100%;
}

.bar:before, .bar:after {
	content:'';
	height:2px;
	width:0;
	bottom:1px;
	position:absolute;
	background:#5264AE;
	transition:0.2s ease all;
}

.bar:before {
	left:50%;
}

.bar:after {
	right:50%;
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
	width:50%;
}

.highlight {
	position:absolute;
	height:60%;
	width:100px;
	top:25%;
	left:0;
	pointer-events:none;
	opacity:0.5;
}

input:focus ~ .highlight {
	animation:inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
	from  { background:#5264AE; }
	to    { width:0; background:transparent; }
}

/*---TYPOGRAPHY---*/

.md-title {
	font-size: 2rem;
	font-weight: medium;
	color: rgba(0,0,0,0.87);
}

.md-subhead {
	font-size: 1.6rem;
	color: rgba(0,0,0,0.87);
}

.md-caption {
	font-size: 1.2rem;
	color: rgba(0,0,0,0.54);
}
/*---CARD---*/

.card a {
	color: black;
}

.card a:hover{
	color: black;
}

.card:nth-child(3n+0) {
  margin-right: 0;
}

.card {
		color: black !important;
		background-color: white !important;
		border-radius: 0.2rem;
		padding: 0;
		height: auto;
		box-shadow: 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.3);
		z-index: 5;
		position: relative;
		margin: 0.4rem;
}

.card-chip {
	height: 7.2rem;
	width: 100%;
	padding: 1.6rem;
	font-size: 1.6rem;
}

.img-chip {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	margin-right: 1.6rem;
}

.colorful {
	background-color: #FFEB3B;
	text-align: center;
	color: black;
	padding-top: 0.5rem;
	font-size: 2rem;
}

.card-img {
		width: 100%;
		height: 18rem;
}

.card-img-right {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 33.3%;
}

.img-right {
	width: 100%;
	height: 100%;
}

.card-content {
		color: black !important;
		font-weight: 400;
		font-size: 1.6rem;
		padding: 1.6rem;
}

.card-content-left {
	position: relative;
	padding: 1.6rem;
	width: 66.6%;
	height: 100%;
}

.card-control {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 0.8rem;
}

.small {
	height: 44rem;
}

.micro {
	height: 18rem;
}

/*---LIST---*/

.list-item {
	padding: 1.6rem;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.list-item div{
	display: inline-block;
	vertical-align: middle;
}

/*---BUTTONS---*/

.flat-btn {
		text-decoration: none;
		color: #FFC107;
		background-color: transparent;
		text-transform: uppercase;
		font-weight: 500;
		padding: 1rem;
		font-size: 1.4rem;
		max-width: 200px;
		display: inline-block;
}

.normal {
	color: black;
}

.flat-btn:hover {
		background-color: black;
		border-radius: 3px;
		color: white;
		text-decoration: none;
		cursor: pointer;
}

.raised-btn {
		background-color: rgba(0,0,0,0.6);
		-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
		box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
		color: white;
		text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
		padding: 0.3em 1em;
		font-size: 1.5em;
		text-transform: uppercase;
		margin-top: 20px;
}

.float-btn {
		z-index: 1050;
		width: 5.6rem;
		height: 5.6rem;
		color: black;
		background-color: #FFEB3B;
		position: fixed;
		font-size: 2.4rem;
		text-align: center;
		right: 280px;
		bottom: 10px;
		padding-top: 1.6rem;
		line-height: 1;
		border-radius: 50%;
		box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
		cursor: pointer;
		font-weight: bolder;
}

.mini {
	width: 4rem;
	height: 4rem;
	padding-top: 0.8rem;
}

.left {
	right: initial;
	left: 123px;
	top: 9.4rem;
	bottom: initial;
}

.search-box {
	padding: 0.8rem;
}

.search-box input {
	width: 100%;
}

.badges {
	margin: 0.8rem;
}

.fill {
	background-color: #26A69A;
	color: white;
}

.n-badge{
	margin: 0px auto;
	border-radius: 50%;
	border: 3px solid #26A69A;
	width: 5.6rem;
	height: 5.6rem;
	text-align: center;
	vertical-align: middle;
	padding: 1.1rem 0;
	font-size: 2rem;
	position: relative;
}

.badge-comp {
	position: absolute;
	bottom: 0;
	width: 2.8rem;
	border-radius: 40%;
	font-size: 1rem;
	left: 1.3rem;
	color: white;
	background-color: yellow;
}

.c-badge {
	text-align: center;
}

.badge-desc {
	color: rgba(0,0,0,0.7);
}

.func{
	text-align: center;
}

.profile-pic {
	border-radius: 50%;
	border: 5px solid white;
	background-image: url(../images/user.jpg);
	width: 12.8rem;
	height: 12.8rem;
	background-size: cover;
}

@media only screen and (max-width: 768px) {
	.float-btn {
		position: fixed;
		top: initial;
		right: 0;
		bottom: 0;
		margin: 0.5em;
	}
}