<nav class="appbar fixed-top" ng-controller="appBarCtrl">
	<div class="appbar-ic" ng-click="toggle('left')">
		<span class="glyphicon glyphicon-align-justify"></span>
	</div>
	<div class="appbar-title">
		<a id="title" href="/"><span>Check Trips</span></a>
	</div>
	<div id="compare-btn" class="appbar-ic pull-right" ng-click="toggle('right')">
		<span class="glyphicon glyphicon-transfer"></span>
	</div>
	<div class="appbar-ic pull-right">
		<a href ng-href="/search"><span class="glyphicon glyphicon-search"></span></a>
	</div>
</nav>