<div class="card small">
	<div class="card-chip">
		<img class="img-chip" ng-src="/images/user.jpg" alt="Usuario">
		<a ng-href="/funcionario/{{trip.Funcionario_id._id}}">{{trip.Funcionario_id.Nombre.Nombres}} {{trip.Funcionario_id.Nombre.ApellidoP}}</a>
		<a ng-href="/profile/{{trip.Consecutivo}}">
	</div>
			<img class="card-img" ng-src="https://maps.googleapis.com/maps/api/staticmap?zoom=8&size=400x250&style=feature:road|visibility:off&markers=color:0x26a69a|{{trip.Destino.Ciudad}}&key=AIzaSyBhJ2RzDZjSI1rTjvfs9imr_WL61k16RD0&scale=1&format=jpg&sensor=FALSE">
		</a>
		<div class="card-content">
			<p>{{trip.Tema}}</p>
			<p class="green">{{trip.GastoPasaje | currency}}</p>
			<p>{{trip.Consecutivo}}</p>
			<p>{{trip.FechaInicio}}</p>
		</div>
		<div class="card-control" ng-controller="compareCtrl">
			<span class="compare-icon glyphicon glyphicon-check pull-left" id="{{trip.Consecutivo}}"></span>
			<a class="flat-btn pull-right" href="/profile/{{trip.Consecutivo}}">Ver más</a>
		</div>
</div>