nav.appbar.fixed-top(ng-controller="appBarCtrl")
	.appbar-ic(ng-click="toggle('left')")
		span(class="glyphicon glyphicon-align-justify")
	.appbar-title
		a(id="title" href="/")
			span Check Trips
	.appbar-ic.pull-right(id="compare-btn" ng-click="toggle('right')")
		span.glyphicon.glyphicon-transfer
	.appbar-ic.pull-right
		a(href="/search")
			span.glyphicon.glyphicon-search