extends layout

block content
	style.
		.navbar {
			background-color: transparent;
		}
	include ./header
	.intro-header#logeo
		.container
			.row
				.col-sm-4.col-sm-offset-4
					.card.small
						.card-content
							h3 Inicio de Sesión
							form(action = "/log" method="post")
								.group
									input(type="email" name="mail" required)
									span.highlight
									span.bar
									label e-mail
								.group
									input(type="password" name="pass" required)
									span.highlight
									span.bar
									label contraseña
								.card-control
									button.btn.flat-btn.pull-right(type="submit") Ingresar
									a.btn.flat-btn.pull-right(style="background-color:white;color:black;margin-left:1em") Registrarse
	include ./footer