.modal.fade#seguir
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button" data-dismiss="modal")
					span(aria-hidden="true") &times;
				h4.modal-title Recibir notificaciones
			.modal-body
				if link.tipo == "Funcionario"
					p Ingresa tus datos para notificarte sobre el funcionario #{link.nombre}, te notificaremos por medio de un mensaje en WhatsApp, inmediatamente resiviras una notificacion de seguimiento.
				else
					p Ingresa tus datos para notificarte sobre el viaje con el numero de comision #{link.nombre}, te notificaremos por medio de un mensaje en WhatsApp, inmediatamente resiviras una notificacion de seguimiento.
				form(method="post" action="/seguir")
					.group
						input(name="nombre" type="text" required)
						span.highlight
						span.bar
						label Nombre
					.group
						input(name="telefono" type="tel" required)
						span.highlight
						span.bar
						label Teléfono
					.group
						input(name="email" type="email" required)
						span.highlight
						span.bar
						label E-mail
					input(type="text" name = "id" value = link.id style = "display:none;")
					input(type="text" name = "tipo" value = link.tipo style = "display:none;")
					input(type="text" name = "nombreSolicitud" value = link.nombre style = "display:none;")
					//.modal-footer
					.flat-btn.normal(type="button" data-dismiss="modal") Cancelar
					button.flat-btn Aceptar
.modal.fade#Aclarar
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button" data-dismiss="modal")
					span(aria-hidden="true") &times;
				h4.modal-title Solicitud de Aclaracion
			.modal-body
				p Deseas solicitar una aclaracion sobre el viaje #{link.nombre}. Esto es en caso de que te encuentres inconforme con los datos proporcionados, al llegar a una cantidad condiderable, se solicitara al funcionario que realizo el viaje responder.
				p * Si estas interesado en que te avizemos porfavor sigue al viaje, asi podras resibir un mensaje de WhatsApp cuando se aya aclarado los datos del viaje
				
				form(method="post" action="/aclarar" role="form")
					input(type="text" name = "id" value = link.id style = "display:none;")
					input(type="text" name = "nombreSolicitud" value = link.nombre style = "display:none;")
					//.modal-footer
					.flat-btn.normal(type="button" data-dismiss="modal") Cancelar
					button.flat-btn Aceptar

.modal#compartir
.float-btn#trigger
	span.glyphicon.glyphicon-send
.float-btn.social#one(data-toggle="modal" data-target="#compartir" onclick="window.open('http://www.facebook.com/sharer.php?u="+link.url+"','modal', 'toolbar=0, status=0, width=650, height=450');")
	i.fa.fa-facebook
.float-btn.social#two(data-toggle="modal" data-target="#compartir" onclick="window.open('http://twitter.com/home/?status= @CheckTrip "+link.url+"','modal', 'toolbar=0, status=0, width=650, height=450');")
	i.fa.fa-twitter
.float-btn.social#three(data-toggle="modal" data-target="#compartir" onclick="window.open('https://plus.google.com/share?url="+link.url+"','modal', 'toolbar=0, status=0, width=650, height=450');")
	i.fa.fa-google-plus