aside#sideRight.sidebar.sidebar-default.sidebar-fixed-right
    .sidebar-header.header-cover(style="background-color:#009688")
        button.sidebar-toggle(type="button")
            i.icon-material-sidebar-arrow
        a.sidebar-brand Comparar
    <!-- Sidebar navigation -->
    ul.nav.sidebar-nav
        li Viajes
        li
            p#f1
        li
            p#f2
        li.divider
        li Funcionarios
        li
            p#f3
        li
            p#f4
        li
            div.flat-btn#comparar Comparar
            div.flat-btn.pull-left Limpiar
</aside>