.container-fluid
	.row
		.col-md-8.col-md-offset-2#tabs-wrapper
			ul.nav.nav-tabs.nav-justified#tabs
				li: a(href="/search") Top
				li: a(href="/search/viajes") Viajes
				li: a(href="/search/funcionarios") Funcionarios
				li: a(href="/search/dependencias") Dependencias
	
